- content_for :title do
  %title dickey.xxx | About

%h1 About
#body
  %article
    %p I am a a full stack web developer with extensive startup experience in San Francisco and Los Angeles. I started projects, maintained large enterprise systems and lead development teams. I bring a developer's perspective that enjoys pragmatism and action while avoiding red tape.
    %p Education is the most important quality in my life, both and a teacher and a student. I surround myself with those smarter than myself to learn as much as possible. Teaching has greatly helped my communication skills with less technical people and is incredibly rewarding as well. I won't spend my time on any project that doesn't offer either a learning or teaching opportunity.
    %p Outside of work, I am the teacher for the Back-End Web Development course at <a href="https://generalassemb.ly/instructors/jeffrey-dickey/1516">General Assembly Los Angeles</a> and Lead Organizer for the <a href="http://meetup.com/codeforla">LA Code for America brigade</a>. Through teaching and civic hacking, I hope to help others solve problems both in business and civic hacking.
    %p If you're in Los Angeles, <a href="http://letsgrababeer.com">Let's grab a beer</a>.
    %h2 Coderwall achievements
    %p
      %section.coderwall{ data: { "coderwall-username" => "dickeyxxx", "coderwall-orientation" => "horizontal" } }
      = javascript_include_tag "//coderwall.com/javascripts/jquery.coderwall.js"
