- content_for :title do
  %title dickey.xxx | About

%h1 About
#body
  %article
    %p My name is Jeff Dickey. I am a 26 year old software engineer living in Santa Monica.
    %p Currently, I am the lead engineer at <a href="http://productionbeast.com">ProductionBeast</a>. We're building an app to help producers staff and manage their productions.
    %p I work with startups advising architecting their systems, organizing teams and managing projects.
    %p I'm a co-author of the <a href="https://www.ruby-toolbox.com/projects/mailboxer">mailboxer gem</a> as well as a contributor to <a href="http://contributors.rubyonrails.org/">Ruby on Rails</a>.
    %p My hometown is Molalla, Oregon. I grew up on a cattle ranch and I’m very proud of it! Life in the big city is a lot of fun, but sometimes I miss throwing bales around on the farm.
    %p
      Check out some of the
      = link_to "side projects", "/projects"
      I've worked on, or read some of the
      = link_to "articles", "/"
      I've written.
      Even better, if you're in Santa Monica, send me an email at
      = link_to "jeff@dickey.xxx", "mailto:jeff@dickey.xxx"
      to get in touch for lunch or a cup of coffee! I'm usually available, and always interested to hear what other people are doing in the tech industry.
    %h2 Coderwall achievements
    %p
      %section.coderwall{ data: { "coderwall-username" => "dickeyxxx", "coderwall-orientation" => "horizontal" } }
