- content_for :title do
  %title About Jeff Dickey

%h1 About
#body
  %article
    %p My name is Jeff Dickey. I am a 25 year old software architect living in San Francisco.
    %p I discover the latest technologies and leverage them to build innovative products with maintainable platforms.
    %p
      I have worked on large scale projects which has given me experience with difficult technical problems.
      I have also worked on smaller projects which has developed my ability to put the product first and think like a user.
      Outside of the code, I am a co-organizer for the
      = link_to "Bay Area User Experience Professionals", "http://www.meetup.com/sfbayux/"
      meetup.
    %p My hometown is Molalla, Oregon. I grew up on a cattle ranch and I’m very proud of it! Life in the big city is a lot of fun, but sometimes I miss throwing bails around on the farm.
    %p
      Check out some of the
      = link_to "side projects", "/projects"
      I've worked on, or read some of the
      = link_to "articles", "/"
      I've written.
      Even better, if you're in San Francisco, send me an email at
      = link_to "jeff@dickey.xxx", "mailto:jeff@dickey.xxx"
      to get in touch for lunch or a cup of coffee! I'm usually available, and always interested to hear what other people are doing in the tech industry.
