%h1 About
#body
  %article
    %p My name is Jeff Dickey. I am a 25 year old web developer living in San Francisco.
    %p I am driven by solving practical problems and impressing my clients and coworkers.
    %p I am a versatile web developer. I have worked on large scale projects which has given me experience with difficult technical problems, in addition to smaller projects which has developed my ability to design and think like a user.
    %p I am currently the lead engineer at Vixely building an incredibly innovative digital media platform.
    %p My hometown is Molalla, OR. I grew up on a cattle ranch and I’m very proud of my background. I’ve gone from farm boy to San Francisco yuppie. Life in the big city is a lot of fun, but sometimes I miss throwing bails around on the farm.
    %p On the side you can see some of the projects I’ve done in my spare time. The code for all of them is available on my Github account.
