- content_for :title do
  %title Jeff Dickey's Mad Skills

%h1 Skills
#body
  %article
    %p These are the things I know and very much like to work with:
    %ul
      %li Ruby on Rails
      %li Facebook APIs
      %li jQuery
      %li backbone.js
      %li PostgreSQL
      %li Redis
      %li Heroku
      %li Amazon Web Services (EC2, S3, SQS, RDS)
