- content_for :title do
  %title Jeff Dickey's Mad Skills

%h1 Skills
#body
  %article
    %p These are the things I know and very much like to work with:
    %ul
      %li Ruby on Rails
      %li Python
      %li Django
      %li MySQL
      %li PostgreSQL
      %li MongoDB
      %li Redis
      %li node.js
      %li Facebook APIs
      %li Amazon Web Services (EC2, S3, SQS, RDS)
      %li Data mining
