- content_for :title do
  %title dickey.xxx | Skills

%h1 Skills
#body
  %article
    %p These are the things I know and very much like to work with:
    %ul
      %li Ruby on Rails
      %li jQuery
      %li backbone.js
      %li PostgreSQL
      %li Devops
      %li Technical writing
      %li Redis
      %li Heroku
      %li Amazon Web Services (EC2, S3, SQS, RDS)
      %li Facebook API
