@import reset
@import coderay

$highlight: #FF5335
$color_a: #B29C85
$color_b: #306E73
$color_c: #3B424C
$color_d: #1D181F
$font_a: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
$font_b: "HelveticaNeue-CondensedBold", "Helvetica Neue Condensed Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
$font_c: "Brawler", "HelveticaNeue-CondensedBold", "Helvetica Neue Condensed Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif

html, body
  font-family: $font_a
  font-weight: 300
  font-size: 17px
  min-width: 1024px

#sidebar-bg
  position: fixed
  background-color: $color_c
  border-right: 3px solid $color_a
  width: 400px
  height: 100%
  z-index: -1
#sidebar
  position: relative
  float: left
  width: 400px
  padding-top: 120px
  > h1
    font-size: 40px
    text-align: right
    text-shadow: 0 1px 0 #000
    margin-bottom: 30px
    margin-right: 25px
    font-family: $font_b
    font-weight: bold
    line-height: 1.2
    > a
      color: #EAEDE9
  nav
    text-align: right
    > ul
      > li
        margin-right: 25px
        color: $highlight
        cursor: default
        line-height: 1.5
        > a
          color: #ccc
          text-shadow: 0 1px 0 #000
        > .current
          color: $highlight
  .email
    position: fixed
    bottom: 10px
    left: 130px
    display: block
    text-align: center
    color: #EAEDE9
    font-family: $font_b
    font-weight: bold
  .jeff
    position: absolute
    top: 10px
    right: 20px
    border: 1px solid $color_d
  .feed
    position: fixed
    bottom: 10px
    left: 10px

#content
  float: left
  padding-top: 120px
  padding-left: 75px
  width: 549px
  h1
    line-height: 1.2
    font-size: 40px
    font-family: $font_b
    font-weight: bold
    margin-bottom: 30px
    color: $color_c
    cursor: default
    > a
      color: $color_c
      cursor: pointer

#body
  line-height: 1.5
  font-family: $font-c
  .social
    text-align: right
    margin: 20px 0
    overflow: hidden
    .twitter-share-button
      padding-top: 3px
      float: left
    .fb-like
      float: left
      width: 100px
    .gp
      padding-top: 4px
      float: left
      width: 75px
    .linkedin
      padding-top: 4px
      float: left
  .banner
    clear: both
    margin: 20px 0
    display: block
  hr
    margin: 2em 0
    clear: both
    border: 0
    border-top: 1px solid $color_a
  .tags:before
    content: url(image-path('tag.png'))
    height: 32px
    width: 32px
    vertical-align: middle
    display: inline-block
  .tags > a
    color: $color_c
    margin-right: 5px
    vertical-align: middle
    font-size: 18px
  h2
    color: $color_c
    font-size: 27px
    font-family: $font_b
    font-weight: bold
    margin-bottom: 12px
    cursor: default
  .date
    display: block
    float: right
    margin-left: 20px
    cursor: default
    font-family: $font_a
  p
    margin: 1em 0
  ol, ul
    margin: 1em 0
  ol
    list-style-type: decimal
    margin-left: 25px
  ul
    list-style-type: square
    margin-left: 20px
  em
    font-style: italic
  strong
    font-weight: bold
  blockquote
    margin: 2em 0
    padding-left: 50px
    position: relative
  blockquote:before
    content: '\201C'
    position: absolute
    top: -40px
    left: 0
    font-size: 100px
  img
    max-width: 100%
  .gist
    font-size: 12px
  .readmore
    display: block
    margin: 20px 0
  .ad
    margin: 35px 0
    text-align: center
    overflow: auto

#archive
  line-height: 1.5
  .date-group
    position: relative
    margin: 3em
    margin-left: 120px
    > ul
      list-style-type: none
      > li
        margin: 20px 0
        > a
          display: block
          > span
            margin-left: 5px
            vertical-align: middle
            width: 245px
            display: inline-block
          > img
            width: 100px
            height: 100px
            vertical-align: middle
          > span.no-image
            margin-left: 110px
    .date-label
      position: absolute
      top: 0
      left: -120px
      border: 2px solid $color_c
      text-align: center
      width: 96px
      height: 96px
      font-size: 32px
      .month
        height: 50%
        color: $color_d
        background-color: $color_a
      .year
        height: 50%
        color: white
        background-color: $color_c

#dsq-content
  font-size: 14px
  .dsq-h3-reactions
    font-size: 12px
  .dsq-founder > .dsq-comment-body > .dsq-comment-header
    background-color: $highlight
    > a
      color: white
#dsq-subscribe
  font-size: 12px

::selection
  background: $highlight
  text-shadow: 0
  color: #fff
::-moz-selection
  background: $highlight
  text-shadow: 0
  color: #fff

a
  color: $highlight
  text-decoration: none

code, .code
  font-family: Monaco, fixed
  padding: 5px
  background-color: #eee
  border: 1px solid #ddd
  border-radius: 3px
  box-shadow: rgba(0,0,0,0.07) 0 1px 2px inset
  font-size: 12px
  display: block
  margin: 1em 0
  text-align: left
  overflow-x: auto
  white-space: nowrap

@import narrow
